<header>
  <div class="header-row">
    <div class="col-12 col-md-5 header-left">
      <img src="https://via.placeholder.com/150">
      <div class="info_event">
        <h2>Titre de l'évenement</h2>
        <p>12-15 mai, 2018</p>
        <p>Description de l'évenement qui peut-être asssez longue et s'etaler
          sur deux lignes</p>
      </div>
    </div>
    <div class="col-12 col-md-4 header-center">
      <div class="icon-contact">
        <div>
          <i class="far fa-envelope"></i>
          <span>Contact</span>
        </div>
        <div>
          <i class="fas fa-map"></i>
          <span>Plans</span>
        </div>
        <div>
          <i class="fas fa-map-signs"></i>
          <span>Accès</span>
        </div>
      </div>
      <p>75 rue de Quelquepart, 36123 Ville</p>
    </div>
    <div class="col-12 col-md-3 header-right">
      <div class="col-9 col-md-9">
        <h3>Jean-Francois</h3>
        <span>Participant</span>
        <p>Afficher uniquement les moments dont je suis inscrit</p>
      </div>
      <div class="col-3 col-md-3 user-avatar">
        <i class="far fa-user-circle"></i>
        <br>
        <i class="fas fa-toggle-off"></i>
      </div>
    </div>
  </div>
</header>