
<div>
  <button (click)="firstClick()">Date picker</button>
  <br>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Thème 1</a>
        <mat-checkbox></mat-checkbox>
      </li>
      <li>
        <a routerLink="/">Thème 2</a>
        <mat-checkbox></mat-checkbox>
      </li>
      <li>
        <a routerLink="/">Thème 3</a>
        <mat-checkbox></mat-checkbox>
      </li>
    </ul>
    <h4>Modalités</h4>
    <ul>
      <li>
        <a routerLink="/">Tenue de sport</a>
      </li>
      <li>
        <a routerLink="/">Privé</a>
      </li>
      <li>
        <a routerLink="/">Pas d'ordinateur</a>
      </li>
      <li>
        <a routerLink="/">Atelier</a>
      </li>
    </ul>
    <h4>Animateurs</h4>
    <div class="users row">
    <i class=" col-3 far fa-user-circle"></i>
    <p class="col-9">Laurent Habert</p>
    </div>
    <div class="users row">
    <i class=" col-3 far fa-user-circle"></i>
    <p class="col-9">Juluis Caesar</p>
    </div>
    <div class="users row">
    <i class=" col-3 far fa-user-circle"></i>
    <p class="col-9">Mark Anthony</p>
    </div>
  </nav>
</div>
