.planning {
    background-color: #aaa;
    .planning-nav {
        background: white;
        padding: 1em;
    }
    .planning-board {
        text-align: center;
        padding: 2em 0
    }
}

section {
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}